<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.apiscan.dao.ApiUrlDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="ApiUrlResultMap" type="com.example.apiscan.pojo.ApiUrlDo">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="methodName" property="methodName"/>
    </resultMap>
    
    <insert id="addApi" parameterType="com.example.apiscan.pojo.ApiUrlDo">
        insert into api_url(url,methodName) values (#{url},#{methodName})
    </insert>
</mapper>